Student ID: 200537002
Question 1:

In [1]:
a = 0: It assigns 0 to the global variable a.

•def b():: It defines a function b.

•global a: It shows that  a inside the function b refers to the global variable. 

•a = c(a): This is the function c with the current value of a (0), adds 2 to it, and assigns the resulting value of 2 to a.

•def c(a):: It defines function c that takes a single argument a.

•return a + 2: It returns the value including 2.

In [2]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [3]:
b()

In [4]:
b()

In [5]:
b()

In [6]:
a

6

Question 2

In [7]:
def fileLength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [39]:
fileLength('Midterm.ipynb')

7402

In [11]:
fileLength('astha.ipynb')

File astha.ipynb not found.

Question 3

In [40]:
class Marsupial:
    def __init__(a):
        a.pouch = []
        
    def put_in_pouch(a, item):
        a.pouch.append(item)
        
    def pouch_contents(a):
        return a.pouch

class Kangaroo(Marsupial):
    def __init__(a, x=0, y=0):
        super().__init__()
        a.x = x
        a.y = y
        
    def jump(a, dx, dy):
        a.x += dx
        a.y += dy
        
    def __str__(a):
        return f"I am a Kangaroo located at coordinates ({a.x},{a.y})"

In [41]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [14]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [15]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

Question 4

In [16]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [17]:
collatz(1)

1

In [18]:
collatz(10)

10
5
16
8
4
2
1

Question 5

In [19]:
def binary(n):
    if n == 0:
        print(0, end='')
    elif n == 1:
        print(1, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [20]:
binary(0)

0

In [21]:
 binary(1)

1

In [22]:
 binary(3)

11

In [23]:
 binary(3)

11

Question 6

In [42]:
class HeadingParser():
    def __init__(b):
        super().__init__()
        b.headings = []

    def handle_starttag(b, tag, attrs):
        if tag.startswith('h'):
            b.headings.append((int(tag[1]), b.get_starttag_text()))

    def print_headings(b):
        for level, heading in b.headings:
            print(" " * level + heading[4:-5])

In [47]:
infile = open('bloodtype.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.print_headings()

Question 7

In [26]:
def webdir(url, depth, indent):
   
    
    print(' ' * indent + url)
    
    
    if depth == 0:
        return
    
   
    try:
        response = urlopen(url)
    except:
        return
    soup = BeautifulSoup(response.read(), 'html.parser')
    
   
    for link in soup.find_all('a'):
        href = link.get('href')
        if href.startswith('http'):
            next_url = href
        else:
            next_url = urljoin(url, href)
        webdir(next_url, depth-1, indent+1)

In [27]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8

In [53]:
import sqlite3

conn = sqlite3.connect('citydata.db')

c = conn.cursor()

c.execute('''CREATE TABLE citydata1234 (
                City TEXT,
                Country TEXT,
                Season TEXT,
                Temperature REAL,
                Rainfall REAL
            )''')


data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
]

c.executemany('INSERT INTO citydata1234 VALUES (?, ?, ?, ?, ?)', data)


conn.commit()


c.execute('SELECT Temperature FROM citydata1234')
print(c.fetchall())

c.execute('SELECT DISTINCT City FROM citydata1234')
print(c.fetchall())

c.execute('SELECT * FROM citydata1234 WHERE Country="India"')
print(c.fetchall())

c.execute('SELECT * FROM citydata1234 WHERE Season="Fall"')
print(c.fetchall())

c.execute('SELECT City, Country, Season FROM citydata1234 WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season')
print(c.fetchall())

c.execute('SELECT City, Country FROM citydata1234 WHERE Season="Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC')
print(c.fetchall())

c.execute('SELECT SUM(Rainfall) FROM citydata1234 WHERE City="Cairo"')
print(c.fetchall())

c.execute('SELECT Season, SUM(Rainfall) FROM citydata1234 GROUP BY Season')
print(c.fetchall())


conn.close()

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[(27.6,)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [33]:
uppercase_words = [element.upper() for element in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [34]:
lowercase_words = [element.lower() for element in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [35]:
[len(element) for element in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [36]:
[[element.upper(), element.lower(), len(element)] for element in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [37]:
[element for element in words if len(element) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']